<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.englizya.client.ticket">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".TicketApplication"
        android:allowBackup="true"
        android:configChanges="keyboardHidden|orientation|screenSize"
        android:extractNativeLibs="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/application_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppStyle"
        android:usesCleartextTraffic="true"
        tools:replace="android:theme,android:supportsRtl,android:icon,android:allowBackup,android:label">

        <activity
            android:name="com.paymob.acceptsdk.PayActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar" />

        <activity
            android:name="com.englizya.splash.SplashActivity"
            android:exported="true" />

        <activity
            android:name="com.englizya.navigation.booking.BookingActivity"
            android:exported="true" />

        <activity
            android:name="com.englizya.navigation.login.LoginActivity"
            android:exported="true" />

        <activity
            android:name="com.englizya.navigation.home.HomeActivity"
            android:exported="true" />

        <activity
            android:name="com.englizya.add_payment.AddPaymentCardActivity"
            android:exported="true" />

        <activity
            android:name="com.englizya.navigation.signup.SignupActivity"
            android:exported="true" />

        <activity
            android:name="com.englizya.navigation.forget_password.ResetPasswordActivity"
            android:exported="true" />

        <activity
            android:name="com.englizya.select_service.SelectServiceActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>